*, *:before, *:after, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

header {
  padding: 0 -15px;
}

.con-menu-lateral {
  transition: padding-left 2s;
  padding-left: 300px;
}

#divgestion {
  width: 260px;
  left: 10px;
  top: 106px;
  height: 600px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.resultado {
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
}